.type-5 .sub-title {
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
}
.type-5 h3 a {
  color: #000;
  text-decoration: none;
  font: 36px Roboto, sans-serif;
}
.type-5 .hrcss {
  border-bottom: 4px solid #DCB14A;
  width: 15%;
  margin-left: 0px;
  margin-top: -6px;
}
.type-5 p {
  color: #666666;
  font: 16px Roboto, sans-serif;
  margin: 16px 0px 24px;
  line-height: 24px;
  margin-top: 3em;
  margin-bottom: 5em;
}
.type-5 .price {
  text-decoration: none;
  color: #010101;
  font: 16px Roboto, sans-serif;
  margin: 58px 0px 0px;
  padding: 9px 32px;
  line-height: 38px;
  border: 1px solid #000000;
}
.type-5 .price:hover {
  color: #fff;
  background: #000;
}
.type-5 .picture {
  width: 410px;
  height: 391px;
}
.type-5 .picture:hover {
  transition: transform .5s ease;
  transform: scale(1.05);
}
