.module7 .style-4 .hr-h3 {
  width: 5%;
  border-bottom: 3px solid #dcb14a;
}
.module7 .entry-meta .list-meta {
  font-size: 14px !important;
}
.module7 .entry-title {
  font-size: 20px;
}
.module7 .entry-thumbnail img {
  width: 100%;
  height: 270px;
  margin-bottom: 27px;
}
.module7 a {
  color: black;
}
.module7 a:hover {
  text-decoration: none !important;
  color: black;
}
.module7 .entry-meta .list-meta .date {
  float: left;
}
.module7 .entry-meta .list-meta .author {
  float: left;
}
.module7 .entry-meta .list-meta .cat {
  float: left;
}
